@model PMS_MVC.Models.EditProduct;

@{
    ViewData["Title"] = "Product Details";
    string ImagePATH = Model.FileName;
    string ImageURL = "https://localhost:44390/UploadDocuments/" + Model.FileName;
}

<!-- Detail Product Page -->
<div class="container shadow-lg rounded bg-white justify-content-center align-items-center mt-5 p-4">
    <div class="d-flex justify-content-start mb-3">
        <a asp-action="list" asp-controller="Product" class="btn shadow btn-outline-secondary border-info text-info px-3">
            < Back
        </a>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Name</h5>
                    <p class="card-text">@Model.ProductName</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Category Name</h5>
                    <p class="card-text">@Model.CategoryName</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Price</h5>
                    <p class="card-text">₹@Model.Price/-</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">Category Tag</h5>
                    <p class="card-text">@Model.CategoryTag</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-primary">Description</h5>
                    <p class="card-text text-justify">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>

    @if (Model.FileName != null)
    {
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Image</h5>
                        <img src="@ImageURL" class="img-fluid" style="width: 100%; max-width: 500px; height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
